
$color-primary-01             : #637EF5;
$color-primary-02             : #97CCF8;

$color-secondary-01           : white;
$color-secondary-02           : #161616;




$font-primary-01              :'Noto Sans', 'Arial';
$font-primary-02              :"Times New Roman", Times, serif;

