/* line 1, ../scss/sections/_navbar-header.scss */
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Noto Sans", "Arial";
}
/* line 6, ../scss/sections/_navbar-header.scss */
body .navbar-header-color {
  background-color: #637EF5;
}
/* line 10, ../scss/sections/_navbar-header.scss */
body .navbar-header-color .navbar-header .navbar-toggle:hover .icon-bar {
  background-color: #637EF5;
}
/* line 15, ../scss/sections/_navbar-header.scss */
body .navbar-header-color .navbar-header .navbar-header-brand-color:hover {
  background-color: #97CCF8;
}
/* line 18, ../scss/sections/_navbar-header.scss */
body .navbar-header-color .navbar-header .navbar-header-brand-color a {
  color: white;
}
/* line 27, ../scss/sections/_navbar-header.scss */
body .navbar-header-color .navbar-header-link-color ul li a {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
/* line 32, ../scss/sections/_navbar-header.scss */
body .navbar-header-color .navbar-header-link-color ul li a:visited, body .navbar-header-color .navbar-header-link-color ul li a:focus, body .navbar-header-color .navbar-header-link-color ul li a:active {
  color: white;
  background-color: #97CCF8;
}
/* line 36, ../scss/sections/_navbar-header.scss */
body .navbar-header-color .navbar-header-link-color ul li a:hover {
  color: white;
  background-color: #97CCF8;
}

/* line 1, ../scss/sections/_jumbotron.scss */
.jumbotron {
  padding-top: 75px;
  background-color: #97CCF8;
}
/* line 6, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group .form-control {
  width: 500px;
}
/* line 10, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group h3 {
  color: #161616;
  font-size: 24px;
}
/* line 14, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group p {
  color: #161616;
}
/* line 17, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group .btn-group a {
  font-size: 25px;
  color: white;
}
/* line 21, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group .button-bgcolor {
  background-color: white;
}
/* line 25, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group .slider {
  border: 0;
  color: #161616;
  width: 500px;
 /* .ageRangeToTip{
    margin-left: 500px;
    font-size: 0.7em;
  
  }
  .ageRangeFromTip{
    margin-right: 500px;
    font-size: 0.7em;
  }
*/
}
/* line 26, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group .slider .ui-slider-range {
  background: #637EF5;
}
/* line 29, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group .slider .ui-slider-handle {
  border-color: #97CCF8;
}
/* line 35, ../scss/sections/_jumbotron.scss */
.jumbotron .container .form-group .slider .ageRangeFrom, .jumbotron .container .form-group .slider .ageRangeTo {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
@media (min-width: 1440px) {
  /* line 1, ../scss/sections/_jumbotron.scss */
  .jumbotron {
    padding-top: 100px;
  }
}

/* line 3, ../scss/sections/_footer.scss */
.footer .container p {
  color: #161616;
}

/* line 3, ../scss/sections/_contact.scss */
.contact .container h2 {
  color: #161616;
  font-style: italic;
}
/* line 7, ../scss/sections/_contact.scss */
.contact .container .table {
  font-size: 16px;
}
